{% extends "base.html" %}
<title>TODO.py</title>
{%block head%} {%endblock%} {%block body%}
<div class="content">
    <h1>Todo Web App</h1>

    {% if tasks|length < 1 %}
    <h4>There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.content}}</td>
            <td>{{task.date_created.date()}}</td>
            <td>
                <a class="action-btn" href="/update/{{task.id}}">Update</a>

                <a class="action-btn" href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="add-content" id="add-content" />
        <input type="submit" value="Add Task" id="add-button" />
    </form>
</div>
{%endblock%}
